<h2 class="govuk-heading-l govuk-!-margin-top-8">Next steps</h2>

<p class="govuk-body">
  Whilst we work on the updates the tool cannot be used for checking the combined rehabilitation period for more than one conviction.
</p>

<p class="govuk-body">
  To find out how having more than one conviction can impact rehabilitation periods please see guidance on the
  <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/government/publications/new-guidance-on-the-rehabilitation-of-offenders-act-1974/guidance-on-the-rehabilitation-of-offenders-act-1974-and-the-exceptions-order-1975#what-happens-if-someone-receives-another-caution-or-conviction-before-their-first-conviction-becomes-spent">Rehabilitation of Offenders Act 1974</a>.
</p>
