<h2 class="govuk-heading-l govuk-!-margin-top-8">Next steps</h2>

<p class="govuk-body">
  You must enter all cautions and convictions to get accurate results.
</p>

<%= button_to checks_path,
              class: 'govuk-button govuk-button--secondary',
              data: { module: 'govuk-button', 'prevent-double-click': true } do; 'Add a caution or conviction'; end  %>
