<% title t('.page_title') %>
<% track_transaction category: 'CYA Basket' %>

<%# TODO: extract strings to locals once design is finalised %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <p class="govuk-body-l">You can add more cautions or convictions now if you need to check more than one.</p>

    <%= render @presenter.summary %>

    <h2 class="govuk-heading-l govuk-!-margin-top-8">Next steps</h2>

    <p class="govuk-body">
      If you need to check additional cautions or convictions add them now.
    </p>

    <%= button_to checks_path,
                  class: 'govuk-button govuk-button--secondary',
                  data: { module: 'govuk-button', 'prevent-double-click': true } do; 'Add a caution or conviction'; end  %>

    <p class="govuk-body">
      If you have finished adding cautions and convictions, get your results.
    </p>

    <%= button_to report_finish_path(:current),
                  class: 'govuk-button', method: :put,
                  data: { module: 'govuk-button', 'prevent-double-click': true } do; 'Continue to your results'; end %>
  </div>
</div>
