<% title t('.page_title') %>
<% track_transaction category: 'CYA Basket' %>

<%# TODO: extract strings to locals once design is finalised %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <p class="govuk-body">You can add additional cautions and convictions if you need to.</p>

    <%= render @presenter.summary %>

    <h2 class="govuk-heading-l govuk-!-margin-top-8">Next steps</h2>

    <%= button_to 'Add a caution or conviction', checks_path,
                  class: 'govuk-button govuk-button--secondary',
                  data: { module: 'govuk-button', 'prevent-double-click': true } %>

    <p class="govuk-body">
      Continue to your results if you’ve finished adding your cautions or convictions.
    </p>

    <%= button_to 'Continue to your results', report_finish_path(:current),
                  class: 'govuk-button', method: :put,
                  data: { module: 'govuk-button', 'prevent-double-click': true } %>
  </div>
</div>
