<% title t('.page_title') %>
<% track_transaction category: 'CYA Basket' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <p class="govuk-body">You can enter additional cautions and convictions if you need to.</p>

    <%= render @presenter.summary %>

    <h2 class="govuk-heading-l govuk-!-margin-top-8">Next steps</h2>

    <%= button_to 'Add a new caution or conviction', checks_path,
                  class: 'govuk-button govuk-button--secondary',
                  data: { module: 'govuk-button', 'prevent-double-click': true } %>

    <%= link_button :results_page, steps_check_results_path %>
  </div>
</div>
