<% title 'When your cautions or convictions are spent' %>

<% track_transaction name: 'Multiple check completed', category: 'Completed checks', sku: 'multiples',
                     id: current_disclosure_report.id,
                     dimensions: {
                       proceedings: @presenter.proceedings_size,
                       orders: @presenter.orders_size
                     } if flash.key?(:ga_track_completion) %>

<% content_for(:notification_banner) do %>
  <%= render partial: 'layouts/notification_banner' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <% if @presenter.calculator.all_spent? %>
        Your cautions or convictions are spent
      <% else %>
        You have unspent cautions or convictions
      <% end %>
    </h1>

    <p class="govuk-body">
      These results and their accuracy are based on the current law, the information you have entered and the date of this check.
    </p>

    <% if @presenter.approximate_dates? %>
      <p class="govuk-body">Your results may not be accurate because you did not enter an exact date.
      </p>
    <% end %>

    <p class="govuk-body govuk-!-margin-bottom-8">
      <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give">Read
        more about spent cautions and convictions</a>.
    </p>

    <%= render @presenter.summary %>

    <h2 class="govuk-heading-l" id="disclosure-and-barring-service">Using your results</h2>

    <%= content_for(:dbs_maybe_explanation) %>

    <% if @presenter.convictions? %>
      <p class="govuk-body">
        Your results are correct if you served your sentence in full as the court ordered you to.
        The conviction might not be spent if you did not stick to the terms of your sentence.
      </p>
    <% end %>

    <p class="govuk-body">
      You do not have to tell anyone about spent cautions or convictions unless you are asked.
      And employers and other organisations can only ask if they have a good reason.
      <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give">
        Read more about what information you need to give</a>.
    </p>

    <% if @presenter.motoring? %>
      <h3 class="govuk-heading-m">Your driving record</h3>

      <p class="govuk-body">
        This checker tells you whether cautions or convictions are spent.
        However, some motoring endorsements stay on your driving record after the caution or conviction is spent.
      </p>

      <p class="govuk-body">
        Your driving record is maintained by the Driver and Vehicle Licensing Agency (DVLA).
        You can <a href="https://www.gov.uk/view-driving-licence" class="govuk-link" rel="external" target="_blank">view your driving licence information</a>, including your driving record, on GOV.UK.
      </p>

      <p class="govuk-body">
        You can find out more about <a href="https://www.gov.uk/penalty-points-endorsements" class="govuk-link" rel="external" target="_blank">penalty points</a> on GOV.UK.
      </p>
    <% end %>

    <% if @presenter.time_on_bail? %>
      <h3 class="govuk-heading-m">
        Time spent on bail with an electronic tag
      </h3>

      <p class="govuk-body">
        Your result and spent date include the number of days you said you spent
        on bail with an electronic tag that counted towards your sentence.
        Each full day offsets a day from the total length of your sentence.
      </p>
    <% end %>

    <h3 class="govuk-heading-m">Disclosure and Barring Service (DBS) checks</h3>

    <p class="govuk-body">
      DBS checks are criminal record checks.
      If you’re applying for a job, university, college or insurance, you may be told a DBS check is needed.
      You should also be told what type of check will be done.
    </p>

    <p class="govuk-body">
      Criminal record checks are usually done through the
      <a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/government/organisations/disclosure-and-barring-service">Disclosure
        and Barring Service (DBS)</a>.
    </p>

    <p class="govuk-body">
      Some spent cautions and convictions are
      ‘<a class="govuk-link" rel="external" target="_blank" href="https://www.gov.uk/government/publications/dbs-filtering-guidance">protected</a>’
      and will not show on a DBS certificate.
    </p>

    <p class="govuk-body">
      The 4 types of DBS checks are:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Basic - shows only cautions and convictions that are not spent.</li>
      <li>Standard - shows all convictions, cautions, reprimands and final warnings, even if they’re spent</li>
      <li>Enhanced - shows the same information as a standard check but also includes any information held by the police that they think is relevant to your application.</li>
      <li>Enhanced with barred list - shows the same information as an enhanced check but also tells employers if you’ve been barred from doing the role you’re applying for.</li>
    </ul>

    <%= render partial: 'steps/check/results/shared/feedback' %>
  </div>
</div>
