<% translated_name = t("#{check_row.kind}.orders.#{check_row.order_type}", scope: check_row.scope) %>

<dl class="govuk-summary-list govuk-!-margin-bottom-2 app-proceeding-heading">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-two-thirds govuk-heading-m">
      <%= translated_name %>
    </dt>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_steps_check_path(check_row.disclosure_check),
                  class: 'app-link--remove ga-pageLink',
                  data: { ga_category: 'check your answers', ga_label: "remove #{check_row.kind}" } do %>
        <%= t('remove_link_html', scope: :check_your_answers, a11y_proceeding: translated_name.downcase) %>
      <% end %>
    </dd>
  </div>
</dl>

<dl class="govuk-summary-list multiple-checks-summary">
  <%= render check_row.summary %>
</dl>
