<h2 class="govuk-heading-l">
  <%= "#{t("kind.#{check.check_group_name}", scope: check.scope)} #{check.number}"%>
</h2>

<div class="govuk-body">
  <%= render check.spent_date_panel if check.spent_date %>

  <%= render check.summary %>

  <% if check.add_another_sentence_button? %>
    <div class="govuk-!-margin-top-1">
      <%= button_to 'Add another sentence to this conviction', check_group_path(check.check_group),
                          class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-0',
                          data: { module: 'govuk-button', 'prevent-double-click': true } %>
    </div>
  <% end %>
</div>
