<div class="app-proceeding-box">
  <h2 class="govuk-heading-l">
    <%=t "#{check.check_group_kind}.heading", scope: check.scope, index: check.number %>
  </h2>

  <%= render check.summary %>

  <% if check.add_another_sentence_button? %>
    <p class="govuk-body">
      If you were given more than one sentence as part of this conviction you must add it now.
    </p>

    <%= button_to 'Add another sentence', check_group_path(check.check_group),
                  class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-3',
                  data: { module: 'govuk-button', 'prevent-double-click': true } %>
  <% end %>
</div>
