.nowrap {
  white-space: nowrap;
}

.no-italic {
  font-style: normal;
}

.app-util--compact-form-group {
  margin-bottom: 1em;
}

.app-proceeding-box {
  border: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(3);
}

.app-proceeding-heading {
  dt, dd {
    border: none;
  }

  .govuk-summary-list__row {
    border: none;

    @include govuk-media-query($until: tablet) {
      margin-bottom: govuk-spacing(5);
    }
  }
}

.app-tag-middle {
  vertical-align: middle;
}

dl.multiple-checks-summary:not(:only-child) {
  &:not(:last-of-type) { padding-bottom: 0.5em; }
}

.app-link--remove {
  @include govuk-link-common;
  @include govuk-link-style-error;
  @include govuk-font(19);
}
