<% title '' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      This tool is being updated
    </h1>

    <div class="govuk-body">
      Whilst we work on the updates the tool cannot be used for checking the combined rehabilitation period for more than one conviction.
    </div>

    <div class="govuk-body">
      You will, however, be able to check the rehabilitation period for a conviction that has multiple sentences, for example, a prison sentence + an order + a fine.
    </div>

    <div class="govuk-body">
      If you receive another conviction during a rehabilitation period, both your original and subsequent offences may remain unspent for the duration of whichever rehabilitation period is longer.
    </div>

    <div class="govuk-body">
      To find out how having more than one conviction can impact rehabilitation periods please see guidance on the
      <a class="govuk-link" href="https://www.gov.uk/government/publications/new-guidance-on-the-rehabilitation-of-offenders-act-1974/guidance-on-the-rehabilitation-of-offenders-act-1974-and-the-exceptions-order-1975#what-happens-if-someone-receives-another-caution-or-conviction-before-their-first-conviction-becomes-spent" rel="external">Rehabilitation of Offenders Act 1974</a>.
    </div>

    <%= link_to @continue_link, class: 'govuk-button govuk-button--start govuk-!-margin-top-2', data: { module: 'govuk-button' }, role: 'button', draggable: false do %>
      Continue
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    <% end %>
  </div>
</div>
