<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
  <%=t "#{check_row.kind}.orders.#{check_row.order_type}", scope: check_row.scope %>
</h3>

<dl class="govuk-summary-list multiple-checks-summary">
  <%= render check_row.summary %>
</dl>
