<div class="govuk-inset-text govuk-!-padding-top-1 govuk-!-padding-bottom-1">
  <%= t([dbs_visibility.basic, 'html'].join('_'), scope: [dbs_visibility.to_partial_path, :basic_dbs], kind: dbs_visibility.kind) %>
  <br/>
  <%= t([dbs_visibility.enhanced, 'html'].join('_'), scope: [dbs_visibility.to_partial_path, :enhanced_dbs], kind: dbs_visibility.kind) %>
</div>
