<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h3 class="govuk-heading-m govuk-!-margin-top-5">
  We’d like your feedback
</h3>

<p class="govuk-body">
  <%= link_to "Get in touch", about_contact_path %> to help us improve the service.
</p>

<!-- BEGIN survey monkey embedded satisfaction -->
<style>
  div.smcx-embed { border: 1px solid #ffffff; height: 1140px; overflow: hidden; max-width: 100% !important; }
  div.smcx-iframe-container { height: 1140px !important; }
  div.smcx-embed-footer { visibility: hidden }
</style>
<script>
  (function (t, e, s, n) {
      var o, a, c;
      t.SMCX = t.SMCX || [], e.getElementById(n) || (o = e.getElementsByTagName(s), a = o[o.length - 1], c = e.createElement(s), c.type = "text/javascript", c.async = !0, c.id = n, c.src = "https://widget.eu.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd7diSQQYasAc9h3qm35G1l10pFHSVCeUkNKAIoOo4Fx2.js", a.parentNode.insertBefore(c, a))
  })(window, document, "script", "smcx-sdk");
</script>
<!-- END survey monkey embedded satisfaction -->
