<p class="govuk-body">
  <%= t(
        'title_html',
        scope: spent_date_panel.scope,
        kind: spent_date_panel.kind,
        date: spent_date_panel.date,
        given_date: spent_date_panel.given_date) %>
</p>
