<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <%= link_button :resume_check, resume_check_path, class: 'govuk-button govuk-!-margin-right-3' %>

    <%= link_button :restart_check, root_path(new: 'y'), class: 'govuk-button govuk-button--secondary' %>

  </div>
</div>
